@import "./general.scss";




.collapse__wrapper-about {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    gap: 30px;
  

  
      
  
      
      
    }
  
  