@import "./general.sass"

.stars__list
  list-style: none
  padding: 0
  margin-left: 10px
  display: flex
  width: 100%
.star__item
  display: flex
  margin-right: 5px
  img
    width: 16px
    height: 16px

@media screen and (min-width: $breakpoint-mobile)
  .stars__list
    list-style: none
    padding: 0
    margin-left: 10px
    display: flex
    width: 100%
  .star__item
    display: flex
    margin-right: 5px
    img
      width: 36px
      height: 36px