@import "./general.sass"

.card__list
  box-sizing: border-box
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-around
  align-items: center
  width: 100%

  &--item
    box-sizing: border-box
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: center
    padding: 10px
    object-fit: cover
    transition: transform 0.2s ease-in-out

    &:hover
      transform: scale(1.1) 

  &--content
    position: relative
    border-radius: 10px
    img
      width: 335px
      height: 255px
      border-radius: 10px
  &--title
    position: absolute
    bottom: 0
    width: 20%
    font-size: 18px
    font-weight: 500
    text-align: center
    padding-left: 10px
    padding-bottom: 10px
    color: $secondary-color
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5) 

    .card__list
      box-sizing: border-box
      display: flex
      flex-direction: row
      flex-wrap: wrap
      justify-content: space-around
      align-items: center
      width: 100%

  &--item
    box-sizing: border-box
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: center
    padding: 10px
    object-fit: cover
    transition: transform 0.2s ease-in-out

    &:hover
      transform: scale(1.1) 

  &--content
    position: relative
    border-radius: 10px

    img
      width: 335px
      height: 255px
      border-radius: 10px

  &--title
    position: absolute
    bottom: 0
    width: 20%
    font-size: 18px
    font-weight: 500
    text-align: center
    padding-left: 20px
    padding-bottom: 20px
    color: $secondary-color
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5) 
    -webkit-text-stroke: 0.2px #000000 
    text-stroke: 0.2px #000000 
    transition: text-shadow 0.2s ease-in-out, transform 0.2s ease-in-out

    &:hover 
      transform: scale(1.2) 
      transition: text-shadow 0.2s ease-in-out, transform 0.2s ease-in-out

@media screen and (min-width: $breakpoint-mobile)
  .card__list
    &--item
      margin-top: 30px 
      padding: 10px
    &--content
      img
        width: 340px
        height: 340px
