@import "./general.sass"

.header
  display: flex
  justify-content: space-between
  align-items: center
  
  width: 100%
  &__logo
    width: 145px
    height: 100%

  .menu
    display: flex
    gap: 10px

  nav
    margin-right: 10px

.menu .active 
    text-decoration: underline

